ACTION=="add", SUBSYSTEM=="usb", \
        ATTR{idVendor}=="1d50", ATTR{idProduct}=="6170", \
        RUN+="/sbin/modprobe -b dln2"

ACTION=="add", SUBSYSTEM=="drivers", ENV{DEVPATH}=="/bus/usb/drivers/dln2", \
        ATTR{new_id}="1d50 6170 ff"
